/* The RML CSS was inspired by Emma Scott's work for RichmondMakerLabs. Emma where every you are, thank you very much! */

:root {
  --font-size-base: 16px;
  /* Espaciados */
  --spacing-small: 0.5rem; /* 8px */
  --spacing-medium: 1rem; /* 16px */
  --spacing-med-lg: 1.5rem;
  --spacing-large: 2rem; /* 32px */
  --spacing-xlarge: 4rem; /*64px*/
  /*colors*/
  --main-color: #50763d;
  --main-color-1: #224099;
  --main-color-2: #189d98;
  --main-color-3: #78c486;
  --main-color-4: #f9d445;
  --main-color-5: #c09201;
  --main-color-text: #5a4a42;
  --background-mesh-color: #28aae10a;
  --main-color-transparency: rgba(250, 250, 250, 0.9);
  --background-blank-color: #ffffff;
  --spacing-max-width: 1000px;
  --spacing-tablet: 800px;
  --spacing-phone: 370px;
  --spacing-gap: 28px;
}

@font-face {
  font-family: 'droidserif';
  src: local('droidserif'),
    url('./assets/fonts/droidserif/DroidSerif-BoldItalic.ttf'),
    format('truetype')
      url('./assets/fonts/droidserif/droidserif-bolditalic-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/droidserif/droidserif-bolditalic-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'lato-black';
  src: local('lato'),
    url('./assets/fonts/Lato/Lato-Black.ttf') format('truetype'),
    url('./assets/fonts/Lato/lato-black-webfont.woff2') format('woff2'),
    url('/assets/fonts/Lato/lato-black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: local('lato'),
    url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
    url('./assets/fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Lato/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin_Sketch';
  src: local('Cabin_Sketch'),
    url('./assets/fonts/Cabin_Sketch/CabinSketch-Bold.ttf') format('truetype'),
    url('./assets/fonts/Cabin_Sketch/cabinsketch-bold-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/Cabin_Sketch/cabinsketch-bold-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat/fonts/ttf/Montserrat-Bold.ttf')
      format('truetype'),
    url('./assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff2')
      format('woff2'),
    url('./assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: lato;
  font-size: var(--font-size-base);
  color: var(--main-color-text);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero {
  background-image: url('./assets/images/RML-Panorama.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
ul.general {
  display: inline;
  width: fit-content;
  padding: 0px;
  list-style-position: inside;
  list-style: none;
}
li::before {
  content: '⬢ ';
  color: var(--main-color-text);
}
/* li {
  list-style-type: none;
  block-size: fit-content;
} */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-gap);
  margin-bottom: var(--spacing-gap);
  align-items: center;
  /* border: 3px solid green; */
  align-items: start;
}
header > a > img {
  width: calc(var(--spacing-gap) * 2);
}
header > a {
  flex-grow: 1;
  min-width: 100 px;
  width: 10%;
}
header > h1.RML {
  font-family: 'Cabin_Sketch';
  color: var(--main-color-1);
  font-size: var(--spacing-large);
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  display: flex;
  flex-grow: 4;
  justify-content: center;
}
header > nav {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-grow: 1;

  width: 10%;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* list-style: none; */
}
.menu {
  display: none;
}

article.RML {
  background-color: var(--background-blank-color);
  border: 0.2rem solid var(--background-mesh-color);
  /* opacity: 1; */

  background-image: linear-gradient(
      var(--background-mesh-color) 1.9px,
      transparent 1.9px
    ),
    linear-gradient(to right, var(--background-mesh-color) 1.9px, #ffffff 1.9px);
  background-size: 38px 38px;
  padding: 20px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#top {
  border-radius: 10px;
  width: 100dvh;
  padding: 10px;
  margin: 5dvh;
  text-align: center;
  min-width: 220px;
}
article.RML #topLogo {
  display: block;
  width: 100px;
}
article.RML h2 {
  font-family: 'Montserrat';
  color: var(--main-color);
  font-weight: bolder;
  text-transform: uppercase;
  font-size: var(--spacing-large);
  text-align: center;
}
article.RML h2 span {
  color: var(--main-color-3);
}
article.RML h3.subheading {
  font-family: 'lato-black';
  color: var(--main-color-text);
  font-weight: bolder;
  text-transform: capitalize;
  font-size: var(--spacing-med-lg);
  text-align: center;
}

article.RML aside.color2 {
  font-family: 'droidserif';
  color: var(--main-color-2);
}
article.RML aside.color3 {
  font-family: 'droidserif';
  color: var(--main-color-3);
}
article.RML aside.color4 {
  font-family: 'droidserif';
  color: var(--main-color-4);
}
article.RML aside.color5 {
  font-family: 'droidserif';
  color: var(--main-color-5);
}
article.RML aside.color1 {
  font-family: 'droidserif';
  color: var(--main-color-1);
}
article.RML p {
  color: var(--main-color-text);
  text-align: center;
}
article.RML ul.aside-list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
ul.aside-list > li {
  list-style-type: none;
  padding-left: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;

  /*display: inline-block;*/
}
/* ul.aside-list {
  display: block; 
  width: 100%;
  padding: 0;
  list-style-position: inside;
}

ul.aside-list > li {
  display: inline-block; 
  list-style-type: disc; 
  margin-right: 10px; 
} */

li:has(figure)::before {
  content: none;
}
ul.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
  list-style: none;
}

ul.facilities li {
  flex: 1 1 210px; /* Adjust the width as needed for responsiveness */
  max-width: 205px;
  min-width: 200px; /* Adjust the max-width as needed for responsiveness */
  text-align: center;
  margin-bottom: 20px;
}

ul.facilities figure {
  margin: 0;
}
ul.facilities figure figcaption {
  padding: 3px;
  text-align: center;
}

ul.facilities figure img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

footer h3.subheading {
  font-family: 'lato-black';
  color: var(--main-color-text);
  font-weight: bolder;
  text-transform: capitalize;
  font-size: var(--spacing-med-lg);
  text-align: center;
}
footer {
  font-family: lato;
  font-size: var(--font-size-base);
  color: var(--main-color-text);
  text-align: center;
}

@media (width <= 500px) {
  header > nav {
    display: none;
  }
  article > figure.logo {
    display: none;
  }
  article.RML > ul.aside-list {
    display: none;
  }
  .menu {
    display: block;
    width: var(--spacing-gap);
    height: var(--spacing-gap);
  }
  article#top {
    margin: 0;
  }
}
