/* The RML CSS was inspired by Emma Scott's work for RichmondMakerLabs. Emma where every you are, thank you very much! */

@font-face {
  font-family: 'droidserif';
  src: local('droidserif'),
    url('./assets/fonts/droidserif/DroidSerif-BoldItalic.ttf'),
    format('truetype')
      url('./assets/fonts/droidserif/droidserif-bolditalic-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/droidserif/droidserif-bolditalic-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'lato-black';
  src: local('lato'),
    url('./assets/fonts/Lato/Lato-Black.ttf') format('truetype'),
    url('./assets/fonts/Lato/lato-black-webfont.woff2') format('woff2'),
    url('/assets/fonts/Lato/lato-black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: local('lato'),
    url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype'),
    url('./assets/fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Lato/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin_Sketch';
  src: local('Cabin_Sketch'),
    url('./assets/fonts/Cabin_Sketch/CabinSketch-Bold.ttf') format('truetype'),
    url('./assets/fonts/Cabin_Sketch/cabinsketch-bold-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/Cabin_Sketch/cabinsketch-bold-webfont.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat/fonts/ttf/Montserrat-Bold.ttf')
      format('truetype'),
    url('./assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff2')
      format('woff2'),
    url('./assets/fonts/Montserrat/fonts/webfonts/Montserrat-Bold.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  /* root template content: RTC */
  /* font related stuff */
  --rtc-font-primary: lato;
  --rtc-font-primary-strong: lato-black;
  --rtc-font-aside: droidserif;
  --rtc-font-heading1: Cabin_Sketch;
  --rtc-font-heading2: Montserrat;
  --rtc-font-heading3-subheadings: lato-black;
  /* --font-size-base: 16px; */
  /* --font-size-slightlyLarger: 20px; */

  /* spacings, caps and margins */

  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-section: 100px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;

  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
  /* --spacing-small: 0.5rem; 8px */
  /* --spacing-medium: 1rem; 16px */
  /* --spacing-med-lg: 1.5rem; */
  /* --spacing-large: 2rem; 32px */
  /* --spacing-xlarge: 4rem; 64px */
  --rtc-max-width: 1000px;
  --rtc-tablet-width: 800px;
  --rtc-phone-width: 370px;

  /*Branding colors*/
  --rtc-color: #50763d;
  --rtc-color-1: #224099;
  --rtc-color-2: #189d98;
  --rtc-color-3: #78c486;
  --rtc-color-4: #f9d445;
  --rtc-color-5: #c09201;
  --rtc-color-text: #5a4a42;
  /* background colours */
  --rtc-bg-primary: var(--rtc-color);
  --rtc-bg-mesh-color: #28aae10a;
  --rtc-bg-transparency: rgba(250, 250, 250, 0.9);
  --rtc-bg-blank-color: #ffffff;
  /* font colours */
  --rtc-font-color-p: var(--rtc-color-text);
  /* aside is another word for pull quotes */
  --rtc-font-color-aside1: var(--rtc-color-1);
  --rtc-font-color-aside2: var(--rtc-color-2);
  --rtc-font-color-aside3: var(--rtc-color-3);
  --rtc-font-color-aside4: var(--rtc-color-4);
  --rtc-font-color-aside5: var(--rtc-color-5);
  /* heading colours */
  --rtc-font-color-h1-impact: var(--rtc-color-1);
  --rtc-font-color-h2: var(--rtc-color);
  --rtc-font-color-h2-span: var(--rtc-color-3);
  --rtc-font-color-subheading: var(--rtc-color-text);
  /* BORDER RADIUS */
  --rtc-primary-br: 4px;
  --rtc-secondary-br: 2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rtc-font-primary);
  color: var(--rtc-font-color-p);
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
h3,
li,
figcaption,
button,
a {
  color: var(--rtc-font-color-p);
}
p,
h3,
figcaption,
button,
a {
  text-align: center;
}
a:hover,
details,
button {
  cursor: pointer;
}
button {
  background-color: var(--rtc-bg-primary);
}
h1 {
  /* color: var(--rtc-font-color-h1-impact); */
  color: var(--rtc-bg-blank-color);
  font-family: var(--rtc-font-heading1);
}
h2 {
  color: var(--rtc-font-color-h2);
  font-family: var(--rtc-font-heading2);
  font-weight: bolder;
  text-transform: uppercase;
  /* font-size: var(--font-size-base); */
  text-align: center;
}
h2 > span {
  color: var(--rtc-font-color-h2-span);
}
h3,
h4,
h5,
h6 {
  font-family: var(--rtc-font-heading3-subheadings);

  font-weight: bolder;
  text-transform: capitalize;
  /* font-size: var(--rtc-gap-s); */
  text-align: center;
}
body {
  background-color: var(--rtc-primary-bg);
  padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;

  scroll-padding-top: 10svh; /* height of sticky header */
}
header {
  /* padding: var(--rtc-padding-m); */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 10svh;
  height: fit-content;
  background-color: var(--rtc-bg-primary);
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--rtc-gap-m);
  /* margin-bottom: var(--rtc-margin-m); */
  align-items: center;
  align-items: start;
}
header a {
  font-weight: 500;
  color: var(--rtc-bg-blank-color);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--rtc-gap-s);
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

ul.general {
  display: inline;
  width: fit-content;
  padding: 0px;
  list-style-position: inside;
  list-style: none;
}
li::before {
  content: '⬢ ';
  color: var(--main-color-text);
}
/* li {
  list-style-type: none;
  block-size: fit-content;
} */

header > a > img {
  width: calc(var(--spacing-gap) * 2);
}
header > a {
  flex-grow: 1;
  /* min-width: 100 px; */
  width: 10%;
}
header > h1.RML {
  font-family: 'Cabin_Sketch';
  color: var(--main-color-1);
  font-size: var(--spacing-large);
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  display: flex;
  flex-grow: 4;
  justify-content: center;
}
header > nav {
  display: flex;
  flex-direction: column;
  justify-content: right;
  flex-grow: 1;

  width: 10%;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* list-style: none; */
}
.menu {
  display: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.hero {
  padding-top: var(--rtc-padding-xl);
  background-image: url('./assets/images/RML-Panorama.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 80dvh; */
  height: fit-content;
  justify-content: start;
  padding: var(--rtc-padding-xl);
}
article.RML {
  background-color: var(--rtc-bg-blank-color);
  border: 0.2rem solid var(--rtc-bg-mesh-color);
  /* opacity: 1; */

  background-image: linear-gradient(
      var(--rtc-bg-mesh-color) 1.9px,
      transparent 1.9px
    ),
    linear-gradient(to right, var(--rtc-bg-mesh-color) 1.9px, #ffffff 1.9px);
  background-size: var(--rtc-gap-l) var(--rtc-gap-l);
  padding: var(--rtc-gap-s);
  margin: 0px;
  padding-top: var(--rtc-gap-xl);
}
article.side-box {
  border-radius: var(--rtc-primary-br);
  max-width: var(--rtc-phone-width);
}

article.RML #topLogo {
  display: block;
  width: 200px;
}

article.RML aside.color2 {
  font-family: var(--rtc-font-aside);
  color: var(--rtc-font-color-aside2);
}
article.RML aside.color3 {
  font-family: var(--rtc-font-aside);
  color: var(--rtc-font-color-aside3);
}
article.RML aside.color4 {
  font-family: var(--rtc-font-aside);
  color: var(--rtc-font-color-aside4);
}
article.RML aside.color5 {
  font-family: var(--rtc-font-aside);
  color: var(--rtc-font-color-aside5);
}
article.RML aside.color1 {
  font-family: var(--rtc-font-aside);
  color: var(--rtc-font-color-aside1);
}
article.RML p {
  color: var(--rtc-color-text);
  text-align: center;
}
article.RML ul.aside-list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
ul.aside-list > li {
  list-style-type: none;
  padding-left: 20px;
  width: 100px;
  display: flex;
  flex-direction: row;

  /*display: inline-block;*/
}
section.join {
  padding-top: var(--rtc-padding-xl);
  background-image: url('./assets/images/3DPrinter-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80dvh;
  justify-content: end;
  padding: var(--rtc-padding-xl);
}
section.join > article.join {
  float: right;
}

li:has(figure)::before {
  content: none;
}
/* section.facilities {
  padding-top: 10svh;
} */
ul.facilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
  list-style: none;
}

ul.facilities li {
  flex: 1 1 210px; /* Adjust the width as needed for responsiveness */
  max-width: 205px;
  min-width: 200px; /* Adjust the max-width as needed for responsiveness */
  text-align: center;
  margin-bottom: 20px;
}

ul.facilities figure {
  margin: 0;
}
ul.facilities figure figcaption {
  padding: 3px;
  text-align: center;
}

ul.facilities figure img {
  max-width: 100%;
  height: auto;
  border-radius: var(--rtc-primary-br);
}
section#first-visit > article.first-visit {
  min-width: 200px;
  max-width: 800px;
}
section#first-visit > article.first-visit > p {
  text-align: left;
}
* p figcaption a,
.inText {
  color: var(--rtc-color);
  text-decoration-line: underline;
}

* figcaption a {
  color: var(--rtc-color);
  text-decoration-line: underline;
}
footer h3.subheading {
  font-family: 'lato-black';
  color: var(--main-color-text);
  font-weight: bolder;
  text-transform: capitalize;
  font-size: var(--spacing-med-lg);
  text-align: center;
}
footer {
  font-family: lato;
  font-size: var(--font-size-base);
  color: var(--main-color-text);
  text-align: center;
}
@media (width <=800px) {
  header h1 {
    display: none;
  }
}
@media (width <= 500px) {
  header > nav {
    display: none;
  }
  header h1 {
    display: none;
  }
  article > figure.logo {
    display: none;
  }
  article.RML > ul.aside-list {
    display: none;
  }
  .menu {
    display: block;
    font-weight: 500;
    color: var(--rtc-bg-blank-color);
  }

  * p {
    font-size: var(--font-size-slightlyLarger);
    line-height: 1.5;
  }
}

/* TODO header navigation overlaps over sections find out why and fix it. */

@media (width <= 300px) {
  section#top {
    padding: 0;
  }
}
